/* header */
html,
body {
    height: 100%;
}

/* 공통 */
.blue_text {
    color: #344EAD;
}

/* main img */
.main_img {
    height: 740px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/about_mainimg01.jpg) no-repeat center fixed;
    background-size: cover;
    z-index: 10;
    transition-property: height;
      transition-duration: 2s, 2s;
}

.main_img_wrap {
    padding-top: 235px;
    box-sizing: border-box;
    transition-property: padding-top;
    transition-duration: 1s, 1s;
}

.main_img_logo {
    width: 190px;
}

.main_img p {
    color: white;
}


/* mosh_ex */
.mosh_ex {
    z-index: 11;
    position: relative;
    top: -40px;
    padding-top: 160px;
    background: white;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    border-radius: 40px;
    margin-bottom: 80px;
}

.mosh_ex h2 {
    margin-bottom: 28px;
}

.mosh_ex p {
    margin-bottom: 56px;
}

.item2{
    width: 50%;
}

.scroll{
    position: absolute;
    top: -40px;
    width: 32px;
    height: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* main cont */
.main_cont {
    width: 100%;
    margin-bottom: 160px;
}

.main_cont hr {
    border: 0;
    height: 8px;
    background: #FBFAFA;
    margin-bottom: 76px;
}

.design_ex {
    width: 86%;
    max-width: 1240px;
    margin: 0 auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 76px;
}

.design_ex h2 {
    margin-bottom: 20px;
}

.design_ex_img {
    width: 41%;
    position: relative;
}

.design_ex_cont1 {
    width: 41%;
    margin: 0 auto;
}

.design_ex_img_main {
    width: 100%;
    border-radius: 20px;
}

.design_ex_img_sub {
    left: -20%;
    top: 19%;
    width: 32%;
    position: absolute;
}

.function_ex {
    margin: 0 auto;
    width: 86%;
    max-width: 1240px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 76px;
}

.function_ex_img {
    width: 41%;
}

.function_ex_cont1 {
    width: 41%;
    margin-left: 18%;
}

.function_ex h2 {
    margin-bottom: 20px;
}

.function_ex img {
    width: 100%;
    border-radius: 20px;
}

.lid_ex {
    width: 86%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.lid_ex_img {
    width: 41%;
    position: relative;
}

.lid_ex_cont1 {
    width: 41%;
    margin: 0 auto;
}


.lid_ex h2 {
    margin-bottom: 20px;
}

.lid_ex_img_main {
    border-radius: 20px;
}

.lid_ex_img_sub {
    top: 30%;
    left: -25%;
    width: 36%;
    position: absolute;
}

/* banner */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/about_banner05.jpg) no-repeat center;
    margin: auto;
    background-size: 110%;
    width: 86%;
    height: 625px;
    border-radius: 40px;
    color: white;
    position: relative;
    margin-bottom: 160px;
}

.banner_wrap {
    top: 103px;
    left: 105px;
    position: absolute;
}

.banner img {
    width: 268px;
}

.banner p {
    color: white;
}

/* collaboration */
.collaboration {
    text-align: center;
    margin-bottom: 80px;
}

.collaboration h3 {
    margin-bottom: 28px;
}

.coll_cont1 {
    margin-bottom: 28px;
}

.coll_cont2 {
    margin: 0 auto;
    width: 86%;
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
}

.coll_img {
    width: 23.7%;
    overflow: hidden;
    border-radius: 20px;
}

.coll_img img {
    width: 100%;
    height: 100%;
    transform: scale(1.0);
    transition: transform .5s;
}

.coll_img img:hover {
    transform: scale(1.2);
    transition: transform .5s;
}

/* part */
.partner {
    width: 100%;
    text-align: center;
    margin-bottom: 160px;
}

.partner p {
    margin-bottom: 28px;
}

.part_bottom {
    margin-bottom: 20px;
}

.swiper-wrapper img {
    width: 86%;
    height: 100%;
}

/* map */
.company_map {
    text-align: center;
    margin-bottom: 160px;
}
.company_map h3 {
    margin-bottom: 28px;
}
.company_map p {
    margin-bottom: 28px;
}

.map_size {
    width: 86%;
    height: 500px;
    margin: auto;
    border:  1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 40px;
}

.customoverlay {
    position: relative;
    bottom: 85px;
    border-radius: 20px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    float: left;
}

.customoverlay:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.customoverlay .title {
    display: block;
    text-align: center;
    border-radius: 20px;
    background: #fff;
    padding: 10px 15px;

    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    font-weight: normal;
}

/* footer  */
html,
body {
    height: 100%;
}

#wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 295px;
}

.footer {
    width: 100%;
    background: #091F5B;
    overflow: hidden;
    height: 295px;
    position: relative;
    /* transform: translateY(-100%); */
}

.footer_wrap {
    display: flex;
    width: 86%;
    max-width: 1280px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-start;
    padding: 70px 0;
    box-sizing: border-box;
}

.service_num {
    font-size: 24px;
    line-height: 30px;
    font-size: bold;
}

.footer h5,
.footer a,
.footer p,
address {
    color: white;
}


.logo img {
    width: 150px;
}

.footer p,
address {
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
}

.footer h5 {
    margin: 0;
}

.sns,
.footer_bottom {
    margin-bottom: 36px;
}

@media screen and (max-width:1080px) { 
#wrapper {
    padding-bottom: 600px;
}

footer .logo{
    margin-bottom: 10px;
}
.footer {
    height:600px;
}

    footer p {
         display: inline-block;
    }

    footer h5 {
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
    }

    .service_num {
        font-size: 16px;
        line-height: 32px;
        font-weight: medium;
    }

    .footer_wrap {
    padding: 35px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.service, .info, .sns_bank_wrap{
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 0.5px solid white;
}


.sns,
.footer_bottom {
    margin-bottom: 15px;
}
}
/* 1080 */
@media screen and (max-width:1080px) {

    .banner {
        background-size: cover;
    }

    .banner_wrap {
        top: 10%;
        left: 10%;
        position: absolute;
    }

    .banner img {
        width: 25%;
    }
}

@media screen and (max-width:768px) {
    .main_img {
        height: 500px;
        transition-property: height;
          transition-duration: 1s, 1s;
    }

    .main_img_wrap {
        padding-top: 175px;
        transition-property: padding-top;
        transition-duration: 1s, 1s;
    }

    .scroll{
        overflow: hidden;
        position: absolute;
        width: 0;
        height: 0;
        line-height: 0;
        text-indent: -9999px;
    }

    .mosh_ex h2 {
        font-size: 24px;
        line-height: 30px;
        font-size: bold;
        margin-bottom: 20px;
    }

    /* main */
    .mo {
        display: none;
    }

    .main_cont {
        margin-bottom: 80px;
    }

    .design_ex {
        flex-direction: column;
        gap: 28px;
    }

    .design_ex h2 {
        font-size: 24px;
        line-height: 30px;
        font-size: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    .design_ex p {
        text-align: center;
    }

    .design_ex_img {
        width: 86%;
    }

    .design_ex_cont1 {
        width: 100%;
    }


    .design_ex_img_sub {
        display: none;
    }

    .function_ex {
        flex-direction: column;
        gap: 28px;
    }

    .function_ex_img {
        width: 100%;
    }

    .function_ex_cont1 {
        width: 100%;
        margin: 0 auto;
    }

    .function_ex h2 {
        font-size: 24px;
        line-height: 30px;
        font-size: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    .function_ex p {
        text-align: center;
    }

    .function_ex_img {
        width: 86%;
    }

    .function_ex img {
        width: 100%;
    }

    .lid_ex {
        flex-direction: column;
        gap: 28px;
    }

    .lid_ex_img {
        width: 86%;
    }

    .lid_ex_cont1 {
        width: 100%;
    }

    .lid_ex h2 {
        font-size: 24px;
        line-height: 30px;
        font-size: bold;
        margin-bottom: 20px;
        text-align: center;
    }

    .lid_ex p {
        text-align: center;
    }

    .lid_ex_img_sub {
        display: none;
    }

}