@charset "utf-8";

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

#wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 295px;
}

h2 {
    font-size: 24px;
    line-height: 40px;
    font-size: bold;
    font-family: "Yeseva One", serif;
    color: #4D4239;
    margin-bottom: 48px;
}

.btn {
    padding: 20px 40px 20px 20px;
    border: 1px solid #746661;
    border-radius: 40px;
    font-weight: normal;
    background: url(../images/right-arrow.svg) no-repeat right;
}

.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

/*header*/
header {
    height: 80px;
    background: #fff;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
}

.logo img {
    width: 150px;
}

.gnb ul {
    display: flex;
    gap: 48px;
    color: #091F5B;
    font-weight: bold;
}

/* reset a css삭제시 같이 삭제 */
.gnb ul a {
    font-size: 16px;
}

.top_menu ul {
    display: flex;
    gap: 15px;
}

.slider {
    margin-bottom: 160px;
}

.mainSwiper {
    width: 100%;
    position: relative;
}

.mainSwiper .swiper-wrapper {
    transition-timing-function: linear;
}

.slider_box {
    display: flex;
    overflow: hidden;
}

.swiper-slide a {
    font-size: 0;
}

.swiper-slide img {
    width: 100%;
    display: block;
}

.best_items {
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 160px;
}

.best_items img {
    display: block;
}

.best_wrap {
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.best_txt {
    position: relative;
}

.best_txt a {
    display: block;
    width: 132px;
    height: 132px;
    position: absolute;
    bottom: 0;
}

.best_ls {
    display: flex;
    gap: 20px;
}

.best_ls li {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.item_stk {
    width: 48px;
    height: 22px;
    text-align: center;
    align-items: bottom;
    border-radius: 10px;
    background: #091F5B;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.about {
    height: 1160px;
    background: #FCFAF4;
    margin-bottom: 120px;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.about_wrap {
    text-align: center;
}

.about h2 {
    padding-top: 60px;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.about h3 {
    font-size: 36px;
    line-height: 0;
    font-weight: normal;
    color: #091F5B;
}

.about_cont {
    width: 1280px;
    height: 610px;
    margin: 0 auto;
    position: relative;
}
.about_cont>ul>li>img{
    width: 100%;
}
.about_txt>div {
    width: 450px;
    height: 120px;
    margin: 16px auto;
    background: url(../images/logo_about.svg) no-repeat center;
    background-size:cover;
}

.about_items {
    position: static;
    width: 548px;
    height: 548px;
    margin: 20px auto;
    background: url(../images/main_about_item01.png) no-repeat center;
}

.about_circle {
    width: 580px;
    height: 580px;
    position: absolute;
    z-index: -1;
    background: url(../images/Ellipse.svg) no-repeat;
    top: 50%;
    left: 50%;
    background-size: cover;
    transform: translate(-50%,-50%);
}

.about_design {
    width: 100px;
    position: absolute;
    left: 206px;
    top: 0;
}

.about_function {
    width: 100px;
    position: absolute;
    top: 150px;
    right: 264px;
}

.about_detail {
    width: 100px;
    position: absolute;
    left: 188px;
    bottom: 50px;
}

.about_more {
    position: absolute;
    bottom: 26px;
    right: 260px;
}

.about_txt_mov {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #344EAD;
}

.about_txt_mov p {
    font-size: 48px;
    line-height: 48px;
    padding: 26px 0;
    color: #fff;
}

.products {
    text-align: center;
    margin-bottom: 160px;
}

.products img {
    display: block;
}

.products_wrap {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

.products_ls {
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    font-weight: bold;
}

.products_ls ul li {
    width: 295px;
    position: relative;
}

.products_ls ul li img {
    width: 100%;
}

.products_ls ul li span {
    position: absolute;
    left: 20px;
    bottom: 30px;
}

.products_wrap li {
    border-radius: 20px;
    overflow: hidden;
}

.pdt_cont_right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.products_wrap>a {
    position: absolute;
    top: 0px;
    right: 20px;
}

.story {
    text-align: center;
    margin-bottom: 120px;
    height: 920px;
    background: #FCFAF4;
    position: relative;
}

.story_wrap {
    width: 1280px;
    height: 700px;
    margin: 0 auto;
    position: relative;
}

.story h2 {
    padding-top: 120px;
    box-sizing: border-box;
}

.story_cont_wrap {
    width: 844px;
    margin: 0 auto;
    display: flex;
    gap: 45px;
    position: relative;
}

.str_cont_lay {
    width: 400px;
    height: 420px;
    border: 2px solid #4D4239;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
}

.str_cont_lay h4 {
    margin: 0 0 8px 0;
    color: #333;
}

.str_cont_lay p {
    width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.story_cont02 {
    position: absolute;
    right: 0;
    bottom: -128px;
}

.art_img_wrap {
    width: 356px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.art_img_wrap img {
    width: 100%;
    display: block;
}

.recipe_circle {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -88px;
    right: -50%;
    transform: translateX(-50%);
}

.cook_with {
    width: 650px;
    height: 150px;
    position: absolute;
    bottom: 120px;
    right: 50%;
    background: url(../images/Cook_with.svg) no-repeat;
}

.story_wrap>a {
    position: absolute;
    top: -90px;
    right: 20px;
}

.circle_img {
    width: 200px;
    height: 200px;
    background: url(../images/mosh_txtcircle_brown.svg);
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

.view_more {
    width: 356px;
    position: absolute;
    bottom: 0;
    left: 20px;
    border-top: 2px solid #746661;
    padding: 30px 20px;
    box-sizing: border-box;
    background: url(../images/plus-lg.svg) no-repeat center right 20px;
    background-size: 20px;
}

.sns_insta {
    margin-bottom: 120px;
    text-align: center;
}

.sns_wrap {
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

.sns_insta .swiper-slide {
    width: 210px;
    height: 210px;
    border-radius: 20px;
    overflow: hidden;
}

.sns_insta .swiper-slide img {
    width: 100%;
    display: block;
}

/*반응형*/
@media screen and (min-width: 1280px) {
    .mainSwiper {
        height: 700px;
    }
}


.footer {
    width: 100%;
    background: #091F5B;
    overflow: hidden;
    height: 295px;
    position: relative;
    transform: translateY(-100%);
}

.footer_wrap {
    display: flex;
    width: 86%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-start;
    padding: 70px 0;
    box-sizing: border-box;
}

.service_num {
    font-size: 24px;
    line-height: 30px;
    font-size: bold;
}

.footer h5,
.footer a,
.footer p,
address {
    color: white;
}


.logo img {
    width: 150px;
}

.footer p,
address {
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
}

.footer h5 {
    margin: 0;
}

.sns,
.footer_bottom {
    margin-bottom: 36px;
}