@charset "utf-8";

<<<<<<< HEAD
body, header,main,footer,div,section,article,ul,li,a,span,h1,h2,h3,p,img{
=======
/* font */
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}
  * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

/* reset */
/*필요한 태그 추가해서 사용해 주세요*/
body,header,main,footer,div,section,article,dl,dd,dt,ul,li,a,span,h1,h2,h3,p,img{
>>>>>>> c4aa23d (0619 메인페이지)
padding: 0;
margin: 0;
}
ul,li{
    list-style: none;
    /*a태그 임시 공백 삭제*/
    font-size: 0;
}
a{
    line-height: 0;
    text-decoration: none;
    color: inherit;
}
img{
    border: none;
}

<<<<<<< HEAD
/*header*/
header{
 height: 80px;
 background:#eee;   
=======
/* text */
h1{
    font-size: 48px;
    line-height: 80px;
    font-weight: bold;
}
h2{
    font-size: 36px;
    line-height: 60px;
    font-size: bold;
}

.title{
    font-family: "Yeseva One", serif;
>>>>>>> c4aa23d (0619 메인페이지)
}