@charset "utf-8";
html {
    scroll-behavior: smooth;
}
/*footer 바닥에 붙게*/
html,
body {
    height: 100%;
}
#wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 295px;
}

h2 {
    font-size: 18px;
    line-height: 18px;
    font-size: bold;
    font-family: "Yeseva One", serif;
    color: #4D4239;
    margin-bottom: 55px;
    text-align: center;
}

header {
    height: 80px;
    background: #fff;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
}

.logo img {
    width: 150px;
}

.gnb ul {
    display: flex;
    gap: 48px;
    color: #091F5B;
    font-weight: bold;
}

.top_menu ul {
    display: flex;
    gap: 15px;
}

.story {
    padding-top: 55px;
    background: #FCFAF4;
    margin-bottom: 160px;
}

.story>a {
    display: block;
}

.story_wrap {
    width: 1240px;
    margin: 0 auto;
}

.story_cont {
    display: flex;
    gap: 20px;
}

.story_cont dl {
    position: relative;
    width: 400px;
    padding: 20px;
    border: 2px solid #746661;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 18px;
}

.story_cont dt {
    padding: 200px 20px 0 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    box-sizing: border-box;
}

.story_cont dd p {
    padding: 0 20px;
    box-sizing: border-box;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.view_more {
    width: 356px;
    position: absolute;
    bottom: 0;
    left: 20px;
    border-top: 2px solid #746661;
    padding: 30px 20px;
    box-sizing: border-box;
    background: url(../images/plus-lg.svg) no-repeat center right 20px;
    background-size: 20px;
}

.story_img {
    width: 356px;
    height: 180px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 20px;
}

.story_img img {
    width: 100%;
}

.txtcircle {
    width: 72px;
    height: 72px;
    background: url(../images/mosh_txtcircle.svg) no-repeat;
    position: absolute;
    right: 20px;
    top: 214px;
}

.story_txt {
    text-align: center;
    padding: 80px 0;
}

.arrow_motion {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: url(../images/down-arrow.svg) no-repeat;
    background-size: cover;
    cursor: pointer;
    animation: down_arrow 2s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes down_arrow {
    25%{transform:translate(0,8px);}
    50%{transform:translate(0,0);}
    75%{transform:translate(0,8px);}
    100%{transform:translate(0,0);}
}

.recipe {
    width: 1240px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    margin-bottom: 120px;
}

.recipe_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recipe_list li {
    position: relative;
    width: 400px;
    height: 500px;
    margin-bottom: 60px;
}

.recipe_list li a {
    display: block;
}

.recipe_list dt {
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    color: #091F5B;
    margin-bottom: 4px;
    padding: 410px 0 0 20px;
}

.recipe_list dd p {
    padding: 0 20px;
}

.make_time {
    position: absolute;
    font-size: 12px;
    line-height: 32px;
    color: #4F4F4F;
    top: 410px;
    right: 20px;
}

.make_time p {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

.make_time>span {
    display: inline-block;
    vertical-align: middle;
    background: url(../images/stopwatch.svg) no-repeat center;
    background-size: cover;
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

.recipe_img {
    position: absolute;
    top: 0;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
}

.recipe_img img {
    width: 100%;
}

/* 팝업창 */
.recipe_pop {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    /* overflow: hidden; */
}

.recipe_pop .btn {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #344EAD;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;
}

.pre_btn {
    background: url(../images/left-arrow.svg) no-repeat center;
    left: 12%;
}

.next_btn {
    right: 12%;
    background: url(../images/right-arrow.svg)no-repeat center;
}

.closed_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 24px;
    height: 24px;
    border: none;
    background:url(../images/x-circle.svg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}
.recipe_lay {
    position: absolute;
    background: #fff;
    border: 2px solid #344EAD;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.recipe_slider_wrap{
    width: 1000px;
    height: 600px;
    overflow: hidden; 
}
.recipe_slider>li {
    width: 1000px;
    height: 600px;
    display: none;
    overflow: hidden;
    position: absolute;
}
.recipe_slider>li>dl{
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}
.food_title{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-top: 4px double #344EAD;
    border-bottom: 4px double #344EAD;
    padding: 16px 0;
    box-sizing: border-box;
}

.food_img {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 428px;
    height: 428px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}
.food_cont{
    width: 460px;
    height: 428px;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.recipe_slider>li>dl>dd>img {
    width: 100%;
}

.footer {
    width: 100%;
    background: #091F5B;
    overflow: hidden;
    height: 295px;
    position: relative;
    transform: translateY(-100%);
}

.footer_wrap {
    display: flex;
    width: 86%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-start;
    padding: 70px 0;
    box-sizing: border-box;
}

.service_num {
    font-size: 24px;
    line-height: 30px;
    font-size: bold;
}

.footer h5,
.footer a,
.footer p,
address {
    color: white;
}


.logo img {
    width: 150px;
}

.footer p,
address {
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
}

.footer h5 {
    margin: 0;
}

.sns,
.footer_bottom {
    margin-bottom: 36px;
}