html,
body {
    height: 100%;
}

#wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 295px;
}

.footer {
    width: 100%;
    background: #091F5B;
    overflow: hidden;
    height: 295px;
    position: relative;
    transform: translateY(-100%);
}

.footer_wrap {
    display: flex;
    width: 86%;
    max-width: 1280px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-start;
    padding: 70px 0;
    box-sizing: border-box;
}

.service_num {
    font-size: 24px;
    line-height: 30px;
    font-size: bold;
}

.footer h5,
.footer a,
.footer p,
address {
    color: white;
}


.logo img {
    width: 150px;
}

.footer p,
address {
    font-size: 14px;
    line-height: 1.6;
    font-weight: normal;
    font-style: normal;
}

.footer h5 {
    margin: 0;
}

.sns,
.footer_bottom {
    margin-bottom: 36px;
}

.mo {
    display: none;
}

/* top 버튼 */
#top-btn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 999;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

@media screen and (max-width:1080px) {
    #wrapper {
        padding-bottom: 600px;
    }

    footer .logo {
        margin-bottom: 10px;
    }

    .footer {
        height: 600px;
    }

    footer p {
        display: inline-block;
    }

    footer h5 {
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
    }

    .service_num {
        font-size: 16px;
        line-height: 32px;
        font-weight: medium;
    }

    .footer_wrap {
        padding: 35px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .service,
    .info,
    .sns_bank_wrap {
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 0.5px solid white;
    }


    .sns,
    .footer_bottom {
        margin-bottom: 15px;
    }

    .mo {
        display: block;
    }



}

@media screen and (max-width:768px) {

    /* footer */
    #top-btn {
        overflow: hidden;
        position: absolute;
        width: 0;
        height: 0;
        line-height: 0;
        text-indent: -9999px;
    }
}