@charset "utf-8";

html {
    scroll-behavior: smooth;
}
.notice {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding-top: 55px;
}

.notice h2 {
    font-size: 18px;
    line-height: 18px;
    font-size: bold;
    font-family: "Yeseva One", serif;
    color: #091F5B;
    margin-bottom: 55px;
    text-align: center;
}


.notice_wrap {
    position: relative;
}

.notice_slide {
    height: 218px;
    margin-bottom: 56px;
    display: flex;
    justify-content: space-between;
}
.slider{
    position: relative;
    width: 68%;
    border-radius: 20px;
    background: #cccccc;
    overflow: hidden;
}
.slider img{
    width: 100%;
}
.slider button{
    border: none;
    background: none;
}

.slick-arrow{
    width: 20px;
    height: 50px;
    cursor: pointer;
    font-size: 0;
}
.slick-prev{
    position: absolute;
    z-index: 100;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background:url(../images/pre.svg) no-repeat center  !important;
    background-size:cover;
}
.slick-next{
position: absolute;
z-index: 99;
right: 20px;
top: 50%;
transform: translateY(-50%);
background: url(../images/next.svg) no-repeat center !important;
background-size:cover;
}

.cscenter{
    width: 30%;
    border-radius: 20px;
    padding: 20px 30px;
    box-sizing: border-box;
    background: #FBFAFA;
}
.cscenter>:first-child{
    color: #091F5B;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}
.cscenter>:first-child>span{
    color: #344EAD;
    margin-left: 12px;
}

.cscenter p{
    margin-bottom: 20px;
    color: #4F4F4F;
}

.cscenter a{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:#fff;
    background: #344EAD;
    border-radius: 8px;
}
.tab_menu ul {
    width: 300px;
    height: 42px;
    /* margin: 0 auto; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
    position: relative;
    z-index: 10;
}

.tab_menu ul li a{
    padding: 16px;
    display: inline-block;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.tab_menu ul .tab_on{

    color: #fff;
    background: #344EAD;
    border-radius: 20px;
}

.tab_menu ul li a {
    display: inline-block;
}

.notice_cont_wrap {
    position: relative;
    margin-bottom: 160px;
}

.notice_cont_wrap>section {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.notice_cont_wrap .on {
    display: block;
}

.notice table {
    width: 100%;
    border-collapse: collapse;
}

.notice table th {
    padding: 20px 0;
    line-height: 16px;
    font-size: 16px;
}

.notice table td {
    padding: 20px 0;
    border-bottom: 1px solid #C1C1C1;
}

.table_title {
    padding: 12px 0;
    text-align: center;
    border-top: 2px solid #344EAD;
    border-bottom: 2px solid #344EAD;
}

.notice_cont span{
    display: inline-block;
    font-size: 12px;
    padding: 4px 12px;
    margin: 0 20px;
    background: #8299ee;
    color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
}
.notice_cont>table tr:hover td:first-child{
    color: #344EAD;
}
.notice_cont>table tr td{
text-align: center;
}
.notice_cont>table tr td:first-child{
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.qa_cont{
    width: 100%;
    padding-bottom: 40px;
}
.qa_txt{
    margin-bottom: 12px;
}
.qa_cont h3{
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 6px;
}

.qa li{
    cursor: pointer;
    padding: 4px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid #C1C1C1;
}

.ques{
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 8px;
}
.ques::before{
    content: "Q. ";
}

.qa li p:last-child{
    padding-left: 48px;
}
.qa li p:last-child::before{
    content: "A. ";
}

.contact_cont h3{
    font-size: 20px;
}

.contact_cont>div{
    padding: 20px;
    margin: 24px auto;
    border-radius: 20px;
    overflow: hidden;
}
.contact_cont>div img{
    display: block;
    width: 100%;
}

.contact_cont p {
    text-align: center;
}
.contact_cont p span{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}

.active{display: block;}

.pager{
    padding-top: 40px;
    width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.pager button{
    display: block;
    padding: 20px;
    font-size: 0;
    border:none;
    cursor: pointer;
}
.pager .pre{
    background: url(../images/pre.svg)no-repeat center;
}
.pager .next{
    background:url(../images/next.svg)no-repeat center;
}
.pager_idx{
    display: flex;
    justify-content: space-between;
    gap: 12px;
    font-size: 14px;
    color: #4F4F4F;
}

.now_page {
    font-weight: bold;
    background:#344EAD;
    color: #fff;
    border-radius: 10px;
}
.pager_idx a{
    display: inline-block;
    padding: 20px;
}
@media screen and (max-width:375px){
    .notice {
        max-width: 375px;
    }

    .notice_slide {
        width: 375px;
        height: 118px;
        display: block;
        padding-bottom: 380px;
    }
    .slider{
        width: 90%;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .cscenter{
        display: block;
        width: 90%;
        border-radius: 10px;
        padding: 10px 15px;
    }


    .notice_cont_wrap {
        position: relative;
        margin-bottom: 160px;
    }
    
    .notice_cont_wrap>section {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
    
    .notice_cont_wrap .on {
        display: block;
    }
    
    .notice table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .notice table th {
        padding: 20px 0;
        line-height: 16px;
        font-size: 16px;
    }
    
    .notice table td {
        padding: 20px 0;
        border-bottom: 1px solid #C1C1C1;
    }
    
    .table_title {
        padding: 12px 0;
        text-align: center;
        border-top: 2px solid #344EAD;
        border-bottom: 2px solid #344EAD;
    }
    
    .notice_cont span{
        display: inline-block;
        font-size: 12px;
        padding: 4px 12px;
        margin: 0 20px;
        background: #8299ee;
        color: #fff;
        border-radius: 20px;
        box-sizing: border-box;
    }
    .notice_cont>table tr td{
    text-align: center;
    }
    .notice_cont>table tr td:first-child{
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .qa_cont{
        width: 100%;
        padding-bottom: 40px;
    }
    .qa_txt{
        margin-bottom: 12px;
    }
    .qa_cont h3{
        line-height: 20px;
        font-size: 20px;
        margin-bottom: 6px;
    }
    
    .qa li{
        cursor: pointer;
        padding: 4px 0;
        margin-bottom: 16px;
        border-bottom: 1px solid #C1C1C1;
    }
    
    .ques{
        font-size: 18px;
        font-weight: bold;
        padding-left: 20px;
        margin-bottom: 8px;
    }
    .ques::before{
        content: "Q. ";
    }
    
    .qa li p:last-child{
        padding-left: 48px;
    }
    .qa li p:last-child::before{
        content: "A. ";
    }
    
    .contact_cont h3{
        font-size: 20px;
    }
    
    .contact_cont>div{
        padding: 20px;
        margin: 24px auto;
        border-radius: 20px;
        overflow: hidden;
    }
    .contact_cont>div img{
        display: block;
        width: 100%;
    }
    
    .contact_cont p {
        text-align: center;
    }
    .contact_cont p span{
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    
    .active{display: block;}
} 