.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}
/* header */

#header {
    background: #fff;
    transition: .3s;
    border-bottom: 1px solid #EDF0F5;
}
.fixed {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    border-bottom: 1px solid #EDF0F5;
    transition: .3s;
}
.hide {
    transform: translateY(-100%);
}

.header_wrap{
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin: 0 auto;
    align-items: center;
}

.logo img {
    width: 150px;
}
.gnb ul {
    display: flex;
    gap: 48px;
    color: #091F5B;
    font-weight: bold;
}
.gnb li::after {
    content: "";
    width: 0;
    height: 3px;
    background: #344EAD;
    display: block;
    position: relative;
    top: 29px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 3px;
    transition: .3s;
}
.gnb li:hover::after {
    width: 100%;
}
.gnb li:hover{
    color: #344EAD;
}
.top_menu ul {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
}
.top_menu li {
    display: flex;
    font-size: 0;
}
.top_menu img {
    width: 18px;
}
.top_menu li:first-child img {
    width: 16px;
}
li.search_box {
    display: none;
}

.hamburger {
    display: none;
}

.bg {
    display: none;
}


/* prod_list */
.prod_list {
    margin-bottom: 30px;
}
.prod_list h2 {
    color: #091F5B;
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    padding: 55px 0;
}
.prod_list ul {
    display: flex;
    gap: 4px;
    justify-content: center;
}

.prod_list div {
    width: 138px;
    height: 138px;
    background: #eee;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}
.prod_list div img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
}
.prod_list p {
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    color: #344EAD;
    margin-top: 5px;
    border-radius: 30px;
    box-sizing: border-box;
    border: 1px solid #fff;
    transition: .2s;
}
.prod_list li:hover p {
    border: 1px solid #344EAD;
}
.prod_list ul li.selected_menu p {
    border: 1px solid #344EAD;
    background: #344EAD;
    color: #fff;
}


/* selected_list_box */
.selected_list_box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/selected_list_tumbler.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.6;
}
.selected_list_tumbler::before {
    background: url(../images/selected_list_tumbler.jpg) no-repeat center;
}
.selected_list_foodjar::before {
    background: url(../images/selected_list_foodjar.jpg) no-repeat center;
}
.selected_list_table::before {
    background: url(../images/selected_list_table.jpg) no-repeat center;
}
.selected_list_electric::before {
    background: url(../images/selected_list_electric.jpg) no-repeat center;
}
.selected_list_etc::before {
    background: url(../images/selected_list_etc.jpg) no-repeat center;
}
.selected_list_acc::before {
    background: url(../images/selected_list_acc.jpg) no-repeat center;
}
.selected_list_parts::before {
    background: url(../images/selected_list_parts.jpg) no-repeat center;
}

.selected_list_box {
    position: relative;
    background: #000;
    width: 95%;
    border-radius: 40px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.selected_list_box h2 {
    position: relative;
    width: 100%;
    font-size: 32px;
    font-weight: 200;
    line-height: 32px;
    padding: 15px 0;
    margin-top: 88px;
    display: inline-block;
    color: #fff;
}
.selected_list_box p {
    position: relative;
    max-width: 800px;
    font-size: 14px;
    font-weight: 200;
    padding: 0 100px;
    margin: 0 auto 70px;
    display: inline-block;
    color: #F6F6F6;
}
.selected_list_box .inner_logo{
    position: absolute;
    top: 73px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 83px;
    opacity: .4;
}



/* filter */
.filter {
    width: 95%;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}
.filter > p {
    color: #B3B3B3;
    font-weight: 300;
}
.filter > p span {
    color: #646464;
    font-weight: 500;
}

.filter_wrap {
    position: relative;
    cursor: pointer;
    border: 1px solid #E8E8E8;
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.filter_wrap p {
    padding: 5px 11px 5px 35px;
    color: #C1C1C1;
    font-size: 12px;
}
.filter_wrap img {
    width: 15px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 44px;
    transform: translate(0, -50%);
}
.filter_wrap ul {
    display: none;
}
.filter_open p {
    padding: 5px 11px 5px 407px;
}
.filter_open ul {
    position: absolute;
    display: flex;
    gap: 15px;
    top: 50%;
    left: 25px;
    transform: translate(0, -50%);
    font-size: 12px;
    color: #B3B3B3;
    font-weight: 300;
}



/* prod_items */
.prod_items {
    max-width: 1250px;
    width: 95%;
    margin: 0 auto 70px;
}
.prod_items > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.prod_items > ul:after {
    content: "";
    width: 33%;
}
.prod_items > ul > li {
    position: relative;
    width: 33%;
}
.prod_name {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    padding: 17px 0 15px;
}
.price {
    text-align: center;
}
.price p {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 34px;
}
.price p span {
    position: absolute;
    top: 0;
    left: -100%;
    text-decoration: line-through;
    font-size: 12px;
    color: #bdbdbd;
    font-weight: 300;
}
.sold_out {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #FF6563;
    border-radius: 30px;
}
.sold_out p {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 3px 13px;
}


.item_img_box {
    position: relative;
    background: #FBFAFA;
    border-radius: 25px;
    overflow: hidden;
}
.item_img_box img {
    width: 100%;
    margin: 6% auto 6%;
    display: block;
}
.item_img_box .color_list {
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: .3s;
}
.item_img_box:hover .color_list {
    bottom: 16px;
}
.color_list {
    display: flex;
    gap: 5px;
    width: 220px;
    justify-content: center;
    flex-wrap: wrap;
}
.color_list li {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000;
    box-sizing: border-box;
    cursor: pointer;
}

.color_list .white {background: #fff; border: 1px solid #E8E8E8;}
.color_list .ivory {background: #F4EBCA;}
.color_list .pink {background: #F3CCE9;}
.color_list .sky {background: #BFDDE5;}
.color_list .yellow {background: #F4DA59;}
.color_list .red {background: #DE3F3D;}
.color_list .black {background: #404040;}
.color_list .cocoa {background: #685E54;}
.color_list .moka {background: #D6C4AE;}
.color_list .green {background: #004D2F;}
.color_list .mint {background: #B3DEC9;}
.color_list .blue {background: #334A9A;}
.color_list .silver {background: #C1C1C1;}
.color_list .gold {background: #E2CA8B;}
.color_list .brown {background: #857B71;}
.color_list .w_white {background: #FCFAED; border: 1px solid #E8E8E8;}
.color_list .p_pink {background: #CEBAB9;}



.like_cart {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    gap: 4px;
    opacity: 0;
    transition: .3s;
}
.item_img_box:hover .like_cart {
    opacity: 1;
}

.like_cart li {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
}
.like_cart img {
    position: relative;
    top: 8px;
    left: 0;
    width: 25px;
}








/* footer */

html,
body {
    height: 100%;
}
#wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 295px;
}
.footer {
    width: 100%;
    background: #091F5B;
    overflow: hidden;
    height: 295px;
    position: relative;
    transform: translateY(-100%);
}
.footer_wrap {
    display: flex;
    width: 86%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-start;
    padding: 70px 0;
    box-sizing: border-box;
}
.service_num {
    font-size: 24px ;
    line-height: 30px;
    font-size: bold;
}
.footer h5,
   footer a,
.footer p, address {
    color: white;
}
footer .logo img {
    width: 150px;
}
.footer p,
address {
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
}
.footer h5 {
    margin: 0;
}
.sns,
.footer_bottom {
    margin-bottom: 36px;
}





@media screen and (max-width:1080px) {
    .prod_list ul {
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    .prod_list ul li {
        width: 100%;
    }

    .prod_list div {
        width: 100%;
        height: 0;
        padding-top: 100%;
        background: #eee;
    }

    /* footer */
    #wrapper {
        padding-bottom: 600px;
    }

    footer .logo{
        margin-bottom: 10px;
    }
    .footer {
        height:600px;
    }

    footer p {
         display: inline-block;
    }
    footer h5 {
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
    }

    .service_num {
        font-size: 16px;
        line-height: 32px;
        font-weight: medium;
    }

    .footer_wrap {
        padding: 35px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .service, .info, .sns_bank_wrap{
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 0.5px solid white;
    }

  
    .sns,
    .footer_bottom {
        margin-bottom: 15px;
    }
}

@media screen and (max-width:768px) {
    /*header*/
    #header {
        border-bottom: 1px solid #EDF0F5;
    }
    #header.fixed {
        position: fixed;
        top: 0;
        z-index: 20;
        width: 100%;
        border-bottom: 1px solid #EDF0F5;
    }
    .header_wrap{
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: none;
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }
    h1.logo {
        position: relative;
        z-index: 99;
        background: #fff;
        width: 100vw;
    }
    h1.logo img {
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .gnb {
        position: absolute;
        z-index: 55;
        top: -260px;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0;
        transition: .5s;
    }
    .gnb_on {
        opacity: 1;
        top: 240px;
    }

    .gnb ul {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .gnb ul li {
        width: 100vw;
        padding: 20px 0;
        text-align: center;
        transition: .3s;
        border-top: 1px solid #5169c0;
        box-sizing: border-box;
        color: #fff;
    }
    .gnb ul li:last-child {
        border-bottom: 1px solid #5169c0;
    }
    .gnb ul li:hover {
        background: #EDF0F5;
        color: #344EAD;
    }
    .gnb li::after {
        display: none;
    }
    .top_menu {
        position: absolute;
        z-index: 55;
        top: -80px;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0;
        transition: .5s;
    }
    .top_menu_on {
        opacity: 1;
        top: 120px;
    }
    .top_menu ul li {
        font-size: 14px;
        color: #fff;
        font-weight: 300;
        transition: .3s;
    }
    .top_menu ul li:hover {
        color: #8299ee;
    }
    .top_menu ul li:nth-child(1) img, .top_menu ul li:nth-child(2) img {
        display: none;
    }
    .top_menu ul li:nth-child(3){
        display: none;
    }
    li.search_box {
        display: flex;
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    li.search_box input[type="search"]{
        width: 350px;
        height: 40px;
        border-radius: 40px;
        border: 1px solid #344EAD;
        padding-left: 20px;
    }
    li.search_box button {
        position: absolute;
        border: 0;
        background: transparent;
        font-weight: 300;
        top: 50%;
        right: 8px;
        transform: translate(0, -50%);
        border-radius: 40px;
        cursor: pointer;
        display: flex;
    }
    li.search_box button img {
        width: 22px;
    }
    .hamburger {
        display: block;
        position: absolute;
        z-index: 99;
        top: 50%;
        right: 25px;
        transform: translate(0, -50%);
    }
    .hamburger span {
        width: 25px;
        height: 4px;
        background: #344EAD;
        display: block;
        margin-bottom: 4px;
        border-radius: 10px;
        transition: .3s;
    }
    .hamburger span:last-child {
        margin-bottom: 0;
    }
    .x_hamburger span {
        position: absolute;
        right: 0;
    }
    .x_hamburger span:first-child {
        transform: rotate(45deg);
    }
    .x_hamburger span:nth-child(2) {
        display: none;
    }
    .x_hamburger span:last-child {
        transform: rotate(-45deg);
    }
    
    
    .bg {
        display: flex;
        position: absolute;
        z-index: 40;
        top: 81px;
        width: 100vw;
        height: 0px;
        background: #344EAD;
        overflow: hidden;
        transition: .5s;
    }
    .bg img {
        width: 60px;
        opacity: .2;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .bg_on {
        height: calc(100vh - 81px);
    }


}